* {
  font-family: sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  align-items: center;
  border-bottom: 1px solid #EEE;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

header .logo {
  background: url(http://www.bubb.com.br/assets/img/sprite.png) no-repeat 0 -177px;
  -webkit-background-size: 186px 219px;
  background-size: 186px 219px;
  display: inline-block;
  height: 42px;
  margin-left: 10px;
  width: 186px;
}

div.nav-container,
div.header-right {
  display: none;
}

.navigation ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;;
}

.navigation a {
  color: #4D4D4D;
  font-size: 15px;
  padding: 1rem;
}

div.header-right {
  padding-top: 30px;
}

a.link-social {
  color: #CCC;
  font-family: FontAwesome;
  font-size: 18px;
  padding: 12px;
}

a.link-social:hover {
  color: #3DAFCA;
}

ul.socials {
  display: flex;
  margin-right: 40px;
}

div.contact {
  display: flex;
  flex-flow: column;
  text-align: right;
}

.link-email {
  color: gray;
  font-size: 13px;
}

.link-phone {
  color: #4D4D4D;
  font-weight: bold;
}

div.call {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -4px;
  line-height: 38px;
  margin: 20px 10px 0 10px;
}

span.big-n-block {
  display: block;
  font-size: 75px;
  letter-spacing: -7px;
}

.call i {
  color: #E14D64;
}

div.sub-call {
  color: grey;
  font-size: 19px;
  font-weight: lighter;
  line-height: 24px;
  margin: 30px 10px 0 10px;
  text-align: justify;
}

div.list-features {
  margin: 40px 10px 0 10px;
}

div.box-feature {
  border: 1px solid #E6E6E6;
  border-top: 5px solid #8995A2;
  padding: 20px;
}

div.box-feature:nth-child(even) {
  border-top: 5px solid #3DAFCA;
}

h1.box {
  font-size: 30px;
  color: #4d4d4d;
}

p.box {
  font-size: 15px;
  line-height: 18px;
  margin-top: 15px;
  color: grey;
  font-weight: lighter;
}

.button {
	display: inline-block;
	padding: 12px 35px 13px 35px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  color: #666;
  margin-top: 25px;
}

section.projects {
  margin: 33px 10px 0 10px;
}

div.section-heading {
  text-align: center;
}

h2.section-heading {
  font-size: 45px;
  letter-spacing: -3px;
  color: #333;
  font-weight: lighter;
}

p.section-subheading {
  margin-top: 15px;
  color: #999;
  font-size: 15px;
  font-weight: lighter;
}

div.box-sites {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  flex: 1 1 90%;
}

div.box-site {
  min-width: 300px;
  min-height: 230px;
}

div.site-inner {
  padding: 20px 15px;
}

h2.projects {
  font-size: 26px;
  letter-spacing: -2px;
  text-align: center;
  color: #FFF;
}

p.projects {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  line-height: 17px;
  color: #FFF;
}

a.button-proj {
  display: block;
  margin: 10px auto 0 auto;
  text-align: center;
  color: #FFF;
  background-color: #8995A2;
  padding: 12px 0;
  max-width: 240px;
  font-size: 16px;
  box-sizing: border-box;
}

a.button-proj:hover {
  color: #8995A2;
  background-color: #fff;
}

.site-1 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/vilela-57b73a6f32018.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/blue-world-57b73a6e1e0ed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-3 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/portal-ternura-57b73a6e9c976.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-4 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/vilela-5789342dc22ad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-5 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/pratfix-57893317a83f3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-6 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/casasantos2-57484db61e5cd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-7 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/juma-5702be7ed8cd8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-8 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(http://www.bubb.com.br/assets/uploads/medias/medium/oitavo-56a6495663773.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-abs {
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
}

@media (min-width: 735px) {
  .navigation ul {
    flex-flow: row;
  }
  .navigation a {
    border-bottom: 4px solid #EEE;
  }

  .navigation a:hover {
    border-color: #3498B1;
    color: #3DAFCA;
  }

  div.list-features {
    display: flex;
    flex-wrap: wrap;
    margin-right: -70px;
  }

  div.box-feature {
    width: 40%;
  }

  div.box-sites {
    flex-flow: row;
    flex: 1 1 50%;
    flex-wrap: wrap;
  }

  div.box-site {
    max-width: 50%;
  }
}

@media (min-width: 900px) {
  header {
    margin: 0 47px;
    min-height: 155px;
  }

  header .logo {
    margin-left: 0;
  }

  div.nav-container,
  div.header-right {
    display: flex;
  }

  section.home {
    margin-top: 42px;
  }

  div.call {
    font-size: 60px;
  }

  span.big-n-block {
    font-size: 100px;
  }

  div.sub-call {
    font-size: 24px;
    margin: 30px 0 0 47px;
  }

  div.call {
    margin: 20px 0 0 47px;
  }

  div.list-features {
    margin: 73px 47px 0 47px;
    display: flex;
    flex-wrap: nowrap;
  }

  div.box-feature {
    width: 25%;
    padding: 43px;
  }

  p.box {
    margin-top: 20px;
  }
}
